flow5.json
[{"id":"79216964.e6d388","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"775c4b25.79ee84","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"269e7430.eecb2c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8e3ea95c.a60608","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a03213b5.d0d5d","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2dd5fd6.cfebf02","type":"http in","z":"269e7430.eecb2c","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["98eff379.c0a58"]]},{"id":"98eff379.c0a58","type":"function","z":"269e7430.eecb2c","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["c4c98736.965af8","14108337.01c7dd"]]},{"id":"1437951c.f6b17b","type":"function","z":"269e7430.eecb2c","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["14108337.01c7dd"]]},{"id":"4bd3af8e.cb4b5","type":"rpi-gpio in","z":"269e7430.eecb2c","name":"GPIO4","pin":"7","intype":"up","debounce":"15","read":true,"x":190,"y":240,"wires":[["1437951c.f6b17b"]]},{"id":"c4c98736.965af8","type":"http response","z":"269e7430.eecb2c","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"14108337.01c7dd","type":"debug","z":"269e7430.eecb2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":280,"wires":[]},{"id":"1abbada5.bf3562","type":"http in","z":"8e3ea95c.a60608","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["e48f0ee0.2ff1a"]]},{"id":"e48f0ee0.2ff1a","type":"function","z":"8e3ea95c.a60608","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["e05fc6f7.8a4728","b34c60e7.a7b8e"]]},{"id":"bb549c8b.052d3","type":"function","z":"8e3ea95c.a60608","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["b34c60e7.a7b8e"]]},{"id":"20be44ff.ab345c","type":"rpi-gpio in","z":"8e3ea95c.a60608","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":320,"wires":[["bb549c8b.052d3"]]},{"id":"e05fc6f7.8a4728","type":"http response","z":"8e3ea95c.a60608","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"b34c60e7.a7b8e","type":"debug","z":"8e3ea95c.a60608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":280,"wires":[]},{"id":"f043a57d.f2be18","type":"http in","z":"a03213b5.d0d5d","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["60deda61.fdaa74","78b035db.290f3c"]]},{"id":"60deda61.fdaa74","type":"function","z":"a03213b5.d0d5d","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["f53e7acb.515c88"]]},{"id":"f53e7acb.515c88","type":"rpi-gpio out","z":"a03213b5.d0d5d","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":580,"y":240,"wires":[]},{"id":"78b035db.290f3c","type":"function","z":"a03213b5.d0d5d","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["e522e7dd.3cebc8","24e728b5.594ad8"]]},{"id":"e522e7dd.3cebc8","type":"http response","z":"a03213b5.d0d5d","name":"","statusCode":"","headers":{},"x":870,"y":160,"wires":[]},{"id":"24e728b5.594ad8","type":"debug","z":"a03213b5.d0d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":320,"wires":[]},{"id":"f0207463.db9748","type":"http in","z":"a03213b5.d0d5d","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["a02898ea.3f3428","82788ba5.5e2578"]]},{"id":"a02898ea.3f3428","type":"function","z":"a03213b5.d0d5d","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["f53e7acb.515c88"]]},{"id":"82788ba5.5e2578","type":"function","z":"a03213b5.d0d5d","name":"Return Status","func":"msg.payload =\" GPOI5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["e522e7dd.3cebc8","24e728b5.594ad8"]]}]
