flows1.json
[{"id":"2aed7544.74844a","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"f595f26e.a4c48","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"4708256f.44076c","type":"rpi-gpio out","z":"f595f26e.a4c48","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":650,"y":220,"wires":[]},{"id":"50e9f7c5.980938","type":"debug","z":"f595f26e.a4c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":60,"wires":[]},{"id":"3195ca4d.b69036","type":"rpi-gpio in","z":"f595f26e.a4c48","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":110,"y":120,"wires":[["50e9f7c5.980938","58349073.3906"]]},{"id":"58349073.3906","type":"switch","z":"f595f26e.a4c48","name":"If inputs is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":220,"wires":[["2fd6cc8d.bf6e14"],["34164088.b438c"]]},{"id":"2fd6cc8d.bf6e14","type":"change","z":"f595f26e.a4c48","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":160,"wires":[["4708256f.44076c"]]},{"id":"34164088.b438c","type":"change","z":"f595f26e.a4c48","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":320,"wires":[["4708256f.44076c"]]}]
